<html>

<%- include("./partials/head.ejs") %>

<body>

<%- include("./partials/nav.ejs") %>

<section class="center">
    <h2><%= blog.title%></h2>
    <div>
        <p><%= blog.snippet %></p>
        <p><%= blog.body %></p>
    </div>
    <a class="erase" data-doc="<%= blog._id%>">Erase</a>
</section>

<%- include("./partials/footer.ejs") %>

<script>
    const trashCan = document.querySelector("a.erase")
    trashCan.addEventListener("click", (e)=>{
        const endUrl = `/blogs/${trashCan.dataset.doc}`

        fetch(endUrl, {
            method: "DELETE"
        })
            .then(response=> response.json())
            .then(data => window.location.href = data.redirect)
            .catch(error=> console.log(error))
    })
</script>

</body>
</html>